<div>
  <!--<div class="row flex-md-row-reverse padding-right-15px">
    <button type="button" class="btn btn-primary">Add New Connection</button>
  </div>-->

  <div>
    <div class="row margin-top-10px">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            Retail
          </div>
          <div class="card-body">
            The retail sector isn’t federally regulated, but it does follow regulations from the Payment Card Industry Security Council’s Data Security Standard (or PCI DSS). This group issues
            security standards that any organization that processes payment cards or holds payment card data is required to follow.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            Healthcare
          </div>
          <div class="card-body">
            The best-known standard for cybersecurity compliance healthcare is the Health Insurance Portability and Accountability Act. HIPAA establishes cybersecurity standards for
            healthcare organizations, insurers, and the third-party service providers medical organizations do business with.
           </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            Defense
          </div>
          <div class="card-body">
            As a condition of providing a service to the U.S. Department of Defense (DOD), businesses must meet cyber requirements set up in the Defense Federal Acquisition Regulation Supplement (DFARS) and Procedures, Guidance, and Information (PGI).s
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
